
# Bibliotecas para manipulação de dados
numpy==1.22.0
pandas==1.3.3

# Bibliotecas para visualização de dados
matplotlib==3.4.3
seaborn==0.11.2

# Bibliotecas para análise de dados
scipy==1.11.1
scikit-learn==1.0.1

# Bibliotecas para machine learning
tensorflow>=2.12.1
keras==2.6

# Bibliotecas para processamento de linguagem natural
nltk==3.9
spacy==3.1.

# Bibliotecas para web scraping
beautifulsoup4==4.10.0
requests==2.26.0

# Bibliotecas para trabalhar com bancos de dados
sqlalchemy==1.4.23
psycopg2-binary==2.9.1

# Bibliotecas para Jupyter Notebook
jupyter==1.0.0
notebook==6.4.4
ipywidgets==7.6.5

# Outras bibliotecas úteis






